img {
    height: 340px;
}

@keyframes pulse {
    0%, 100% {
            background-color: #ffffff;
    }
    46%, 54% {
        background-color: #000000;
    }
    23%, 77% {
        background-color: blue;
    }
}
body {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    animation: pulse infinite 15s;
}

h1 {
    -webkit-margin-after: .10em;
}

h2 {
    -webkit-margin-before: .10em;
}

.audio-container {
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
}

.strokeme {
    color: black;
    text-shadow:
    -1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff,
    1px -1px 0 #ffffff;
}
/*add img b/w background & dragonfly+text*/

.rat {
    top: 0px;
    left: 0px;
}